[defaults]
inventory         = inventory/hosts.yml
roles_path        = roles
retry_files_enabled = false
log_path            = ansible.log
stdout_callback   = ansible.builtin.default
vault_password_file = ~/.ansible/vault_pass
result_format     = yaml
collections_path  = ~/.ansible/collections

[ssh_connection]
pipelining = true
